<div class="card">
	<div class="image-wrapper">
		{{ content.field_card_image }}
	</div>
	<h3>
		{{ content.field_card_title }}
	</h3>
	<div class="caption">
		{{ content.field_card_text }}
	</div>
	<div class="gutter">
		{{ content.field_card_link }}
	</div>
</div>