.card {
  display: inline-block;
  width: calc(33% - 10px);
  margin-right: 10px;
}
.card .paragraph {
  display: table-cell;
  vertical-align: top;
  height: 750px;
}
.card .series ul, .card .series li {
  list-style: disc;
}