.card {
  display: inline-block;
  width: calc(33% - 10px);
  margin-right: 10px;
}
.card .paragraph {
  display: table-cell;
  vertical-align: top;
  height: 750px;
}
.card h6, .card ul.series, .card ul li.tv-show {
  display: inline;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}
.card h6 {
	font-weight: bold;
}